node_modules
dist
build
.turbo
.expo
.vercel
.netlify
coverage
*.log
.env
.env.*
!.env.example
apps/mobile/.env
apps/web/.env
apps/api/.env
apps/worker/.env
.DS_Store
*.pem
.idea
.vscode/*
!.vscode/extensions.json
ios
android
web-build
.netlify-home
